/* Weekly Menu CSS file */
.Form{
    background-color: #E4E2E2;
    height: 900px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.Form_Container{
    display:block;
    text-align: center;
    align-content: center;
    
}
.Header{
    padding-top: 20px;
    font-size: 25px;
}
.Week_label{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}
.Option_label{
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;

}
.Day_Section{
    padding-top: 5px;
}
.Button {

    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 12px;
  }
  